body{
    margin: 0px;
}
header img{
    height: 100px;
    width: 100px;
}
nav a{
    text-decoration: none;
    color: lemonchiffon;
    font-size: large;
    padding: 5px 15px;
    font-family:'Comic Sans MS';
    &:hover{
        color:darksalmon;
        transition: 1s;
        font-size:x-large;
    }
}
header{
    text-align: center;
    box-shadow: 0px 0px 5px;
    background-color: brown;
}
nav{
    padding: 10px;
}